.container-Card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    height: fit-content;
    grid-gap: 1%;
    grid-row-gap: 1%;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 1%;
    margin-right: 1%;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.search-bar {
    width: 250px;
    padding: 8px;
    box-shadow: 0 0 5px grey;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.search-btn {
    background-color: #ffffff;
    border: none;
    box-shadow: 0 0 5px grey;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #000000;
    color: white;
}
